.comment_container{
  width: 350px;
  display: grid;
  grid-column-gap: 5px;
  //grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-areas:
  "l l ";

  p{

  }
}

.avatar{
  width: 10%;
}

.avatar_it{
  width: 80px;
  height: 80px;
}

.head{
  display: grid;
  //width: 100%;
  grid-column-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  grid-template-areas:
  "l l l";
}

.info{
  //width: 15%;
}

.like{
  //width: 3%;
}

.comment{
  width: 100%;

  p{
    height: 5%;
  }
}


