.comment_container{
  display: grid;

  p{

  }

  img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
}

.avatar{
  width: 4%;
}

.head{
  display: flow;
  //width: 40%;
}

.info{
  width: 35%;
}

.like{
  width: 20%;
}

.comment{
  width: 50%;
}

